:root,
[data-bs-theme=light] {
    --bs-blue: #00BBFF;
    --bs-primary: #00BBFF;
    --bs-primary-border-subtle: #7198d3;
    --bs-secondary: #a8d2ff;
    --bs-tertiary-color: #587ca3;
}

.btn-primary {
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary-border-subtle);
}